absl-py==2.4.0
aiosignal==1.4.0
annotated-types==0.7.0
asttokens==3.0.1
attrs==23.2.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
cloudpickle==3.1.2
colorama==0.4.4
colorlog==4.7.2
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
fastrlock==0.8.3
filelock==3.25.2
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.3.0
future==1.0.0
grpcio==1.80.0
hyperopt==0.2.7
idna==3.11
ipykernel==7.2.0
ipython==9.10.1
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.5.0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.1
matplotlib-inline==0.2.1
mpmath==1.3.0
msgpack==1.1.2
narwhals==2.19.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
packaging==26.0
pandas==2.2.2
pandas-flavor==0.8.1
parso==0.8.6
patsy==1.0.2
pexpect==4.9.0
pillow==12.2.0
pingouin==0.5.5
platformdirs==4.9.6
plotly==6.0.1
pm-implicit==0.7.3
-e git+https://github.com/andreafooo/POI_RS_PopBias_Mitigation.git@b95d80aa624d8c56f7950eb5c230493cdc3033b9#egg=poi_popularity_calibration
-e git+https://github.com/andreafooo/POI_RS_PopBias_Mitigation.git@b95d80aa624d8c56f7950eb5c230493cdc3033b9#egg=poi_rs_popbias_mitigation
prompt_toolkit==3.0.52
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pyarrow==23.0.1
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.2
pyzmq==27.1.0
ray==2.44.1
rbo==0.1.3
recbole==1.2.0
RecTools==0.18.0
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.4
sympy==1.14.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.5
texttable==1.7.0
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
torch==2.3.1
tornado==6.5.5
tqdm==4.67.1
traitlets==5.14.3
triton==2.3.1
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.8
xarray==2026.2.0
